In [1]:
# Install the libraries needed
# ! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [6]:
# load the datasets
import pandas as pd

csv_data = pd.read_csv("../Data/finalalldata.csv")
excel_data = pd.read_excel("../Data/Dataset_PowerBI.xlsx")

In [4]:
import json

with open("../Data/d09eafb5-c273-4bad-ac09-d18ea064064b.json", "r") as file:
    json_data = json.load(file)

In [5]:
csv_data.head()

,uid,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092,class
0,copdcontrol1,0,2,28,19.22,0,4.63,1.671,1.0,0.448632,0.42328,1.000,1.0,1.473,1.000000,1.0,train
1,copdcontrol69,0,1,53,20.44,0,4.63,1.671,1.0,1.000000,0.65060,1.416,1.0,1.000,1.000000,1.0,train
2,copdcontrol68,0,1,58,20.45,1,4.63,1.000,1.0,0.669800,1.00000,1.416,1.0,1.473,1.000000,1.0,train
3,copdcontrol85,0,2,30,20.70,0,4.63,1.671,1.0,0.448632,1.00000,1.416,NaN,1.473,1.000000,1.0,train
4,copdcontrol78,0,1,55,20.76,1,4.63,1.671,1.0,0.669800,0.65060,1.000,1.0,1.473,2.088025,1.0,train

In [7]:
excel_data.head()

,Patient ID,Gender,Age,Heigt(cm),Height(in),weight kg,weight (lb),BMI,Smoker,Comorbidity1,...,RR During vigorous exercise,Baseline FEV1,Current FEV1,Baseline VO2,VO2 Reserve,VO2 max,VO2 During light exercise,VO2 During moderate exercise,VO2 During vigorous exercise,Status
0,3,Male,88,178,69.954,75,165.300,23.746689,No,NaN,...,74,0.729397,"0,89 L",2.146,3.126444,5.272444,"2,525 ml/kg/min","3,441 ml/kg/min","4,245 ml/kg/min",NaN
1,4,Female,60,167,65.631,79,174.116,28.416852,No,NaN,...,41,1.358489,"1,179 L",1.780,13.120873,14.900873,"4,739 ml/kg/min","8,765 ml/kg/min","11,284 ml/kg/min",NaN
2,8,Male,55,178,69.954,115,253.460,36.411591,No,Pulmonary Hypertension,...,47,1.588316,"1,744 L",3.083,8.347682,11.430682,"5,813 ml/kg/min","6,79 ml/kg/min","8,957 ml/kg/min",NaN
3,9,Female,55,170,66.810,81,178.524,28.117001,No,NaN,...,59,0.549915,"0,526 L",1.963,5.058624,7.021624,"3,879 ml/kg/min","4,52 ml/kg/min","5,584 ml/kg/min",NaN
4,10,Male,65,169,66.417,75,165.300,26.343269,No,NaN,...,42,1.337281,"1,149 L",2.616,5.199508,7.815508,"3,352 ml/kg/min","4,748 ml/kg/min","6,003 ml/kg/min",NaN

In [8]:
json_data

{'accessLevel': 'restricted public',
 'bureauCode': ['020:00'],
 'contactPoint': {'fn': 'Kristen Rappazzo',
  'hasEmail': 'mailto:rappazzo.kristen@epa.gov'},
 'description': 'Information on hospitalizations of COPD patients from electronic health records linked to air pollution concentrations for the study period. This dataset is not publicly accessible because: EPA cannot release personally identifiable information regarding living individuals, according to the Privacy Act and the Freedom of Information Act (FOIA). This dataset contains information about human research subjects. Because there is potential to identify individual participants and disclose personal information, either alone or in combination with other datasets, individual level data are not appropriate to post for public access. Restricted access may be granted to authorized persons by contacting the party listed. It can be accessed through the following means: Can be requested through NCTracts https://tracs.unc.edu/index.php/services/comparative-effectiveness-research/data-linkage. Format: Data used in this analysis include electronic health records from the UNC healthcare system. \n\nThis dataset is associated with the following publication:\nCowan, K., L. Wyatt, T. Luben, J. Sacks, C. Ward-Caviness, and K. Rappazzo. Effect measure modification of the association between short-term exposures to PM2.5 and hospitalizations by longs-term PM2.5 exposure among a cohort of people with Chronic Obstructive Pulmonary Disease (COPD) in North Carolina, 2002–2015.   ENVIRONMENTAL HEALTH. Academic Press Incorporated, Orlando, FL, USA, 22: 49, (2023).',
 'distribution': [],
 'identifier': 'https://doi.org/10.23719/1530582',
 'keyword': ['hospitalization',
  'COPD',
  'electronic health records',
  'particulate matter (PM)',
  'long and short term interaction'],
 'license': 'https://pasteur.epa.gov/license/sciencehub-license-non-epa-generated.html',
 'modified': '2024-01-19',
 'programCode': ['020:000'],
 'publisher': {'name': 'U.S. EPA Office of Research and Development (ORD)',
  'subOrganizationOf': {'name': 'U.S. Environmental Protection Agency',
   'subOrganizationOf': {'name': 'U.S. Government'}}},
 'references': ['https://doi.org/10.1186/s12940-023-00999-4',
  'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC10308617'],
 'rights': 'EPA Category: Personally Identifiable Information (PII), NARA Category: Privacy',
 'title': 'CARES_COPD_casecrossover'}

### Extract the relevent columns

In [11]:
csv_selected_cols = csv_data[["sex", "bmi", "age", "location","smoke"]]
excel_selected_cols = excel_data[["Heigt(cm)", "weight kg", "BMI"]]

In [13]:
csv_selected_cols.shape

(633, 5)